<div class="container index-page-container">

    <div class="splash-page"> 
        <h4> Explore great <span>dishes</span>, and greater <span>ChefHeroes</span> </h4>

        <div class="top-chefhero-container">
            <h2> Most Ordered ChefHeroes</h2>
            <div class="chef-list">
                <% top = true %>
                <% for chef, orders in @most_ordered %>
                    <%= link_to user_path(chef) do %>
                        <div class="chef-card">
                            <%= image_tag User.find(chef).get_display_picture%>
                            <p id="chef-name"> <% if top %> <i class="fas fa-crown"></i> <% end%> <%= User.find(chef).name %></p>
                            <p> <span><%= orders %></span> total orders</p>
                        </div>
                    <% end %>
                    <% top = false %>
                <% end %>
            </div>
        </div>
        

    </div>

</div>