/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap";
 @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
 @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
 @import url('https://fonts.googleapis.com/css?family=Montserrat:600,700&display=swap');
 @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap');
 
 $headings: 'Montserrat', sans-serif;
 $text: 'Source Sans Pro', sans-serif;
 $secondary-color: #236e05;
 $gold: #b69e19;

 html {
     scroll-behavior: smooth;
 }
 
 body {
     font-family: $headings;
    //  font-size: 90%;
 
 }

 .tinymce {
     font-family: $headings;
 }
 
 .btn {
     border-radius: 0px;
 }
 
 .container-fluid {
     padding: 0px;
 }
 
 .navbar {
    height: 8vh;
    img {
        max-width: 30px;
        max-height: 30px;
        border-radius: 100%;
        margin-right: 5px;
    }
   

    .dropdown-item {
        font-size: 80%;
        &:hover {
            background-color: white;
        }
        &:active {
            background-color: white;
            color: black;
        }
    }
    border-bottom: 1px solid #e0dddd;

 }
 
 .navbar-brand {
     font-weight: 700px;
     span {
         color: $secondary-color;
     }
 }
 
 .nav-link, .navbar-brand {
     color: black;
     &:hover {
         color: black;
     }
 }
 
 
 
 
 #main-nav {
     font-family: $headings;
     align-items: flex-end;
     li:nth-child(2) {
         padding-right: 50px;
     }
     a {
         height: 100%;
     }
 }
 
 #navbarSupportedContent {
     display: flex;
     justify-content: flex-end;
 }
 .index-page-container {
     width: 100vw;
     display: flex;
     justify-content: center;
 }
 
 .splash-page {
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     min-width: 100vw;
     .splash-suggestions {
         display: flex;
         flex-direction: row;
         padding: 20px 50px;
         a {
             color: black;
             text-decoration: none;
         }
         .suggest-label {
             display: flex;
             flex-direction: row;
             align-items: center;
             text-align: center;
             width: 250px;
             border-radius: 13px;
             margin: 0 30px;
             box-shadow: 0 0 5px grey;
             font-size: 1em;
             font-weight: 600;
             img {
                 margin-right: 30px;
                width: 80px;
                border-radius: 13px;
                height: 70px;
             }
         }
     }
     #index-links {
         color: $secondary-color;
     }
    h2 {
        font-size: 1.5em;
        font-weight: 700;
    }
    h4 {
        margin-top: 50px;
        margin-left: 50px;
    }
    span {
        color: $secondary-color;
    }
    .index-info-graph {
        height: 300px;
        width: 100vw;
        background-color: #f0f0f0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        span {
            color: $secondary-color;
            font-weight: 600;
        }

        h3 {
            font-weight: 600;
        }
        p {
            margin: 0 5vw;
            text-align: center;
            font-size: 0.9em;
            i {
                font-size: 5em;
            }
        }
        .attributes-row {
            margin-top: 30px;
            display: flex;
            flex-direction: row;
        }
    }


    .top-chefhero-container { 
       
        margin: 50px;
        display: flex;
        align-items: center;
        flex-direction: column;
        .chef-list {
            display: flex;
            flex-direction: row;
            a {
                color: black;
                text-decoration: none;
            }
            .chef-card {
                margin-right: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 300px;
                // height: 300px;
                padding: 20px;
                img {
                    width: 200px;
                    height: 200px;
                    border-radius: 100%;
                    border: 1px solid lightgrey;
                    
                }
                #chef-name {
                    font-size: 1.2em; 
                    font-weight: 600;
                    margin-top: 10px;
                }
                span {
                    font-weight: 600;
                    font-size: 1em;
                }
                i {
                    color: $gold;
                }
                p {
                    text-align: center;
                    img {
                        width: 21px;
                        height: 21px;
                        margin-bottom: 2px;
                    }
                }

    
            }

        }
        #hint {
            font-size: 0.8em;
            opacity: 80%;
            margin-bottom: 20px;
        }

    }

    
}
.index-footer {
    height: 300px;
    border-top: 1px solid lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    a {
        color: $secondary-color;
    }
    #copy-text {
        font-size: 0.8em;
        opacity: 80%;
    }
}
 
 .signup-form, .default-form {
    padding-bottom: 80px;
     display: flex;
     justify-content: flex-start;
     align-items: center;
     flex-direction: column;
     font-family: $headings;
     h1 {
         font-weight: 700;
         margin-bottom: 50px;
     }
     input, select, textarea {
         width: 300px;
         padding: 5px;
         border: none;
         background-color: #f0f0f0;
         color: black;
     }
     #signup-error-message {
         font-size: 13px;
         color: red;
         text-align: center;
         margin-top: 10px;
     }
 
     a, span {
         color: $secondary-color;
     }
     label {
         width: 300px
     }
     
 }
 
 .signup-selection--buttons {
     .btn {
         width: 300px;
         height: 100px;
         font-size: 50px;
         &:first-child {
             background-color: $secondary-color;
         }
         color: white;
     }
 
 
 }
 
 .profile-box {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 300px;
     border: 1px lightgrey solid;
     i {
        color: $secondary-color;
     }
     
     img {
         width: 150px;
         height: 150px;
         border-radius: 100%;
     }
     .display-picture {
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
         margin-top: 30px;
         margin-bottom: 10px;
         i {
             color: #c40808;
         }
         #fav-btn {
             font-size: 1.5em;
            margin-top: 10px;
         }
     }
     margin-right: 100px;
 
     .profile-badges {
         align-items: flex-start;
         width: 250px;
         img {
             width: 21px;
             height: 21px;
             margin-right: 5px;
         }
         span {
             width: 50px;
         }
 
         #tick {
             color: green;
         }
     }
 
 }

 .availability-box {

    width: 300px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;

    h3 {
        font-weight: 700;
        font-size: 100%;
        text-align: center;
    }

    .day-tile {
        font-size: 80%;
        // box-shadow: 1px 1px 3px $secondary-color;
        border: 1px solid lightgrey;
        height: 30px;
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px 0;
    }

    .days-open {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    p {
        text-align: center;
        font-size: 0.85em;
    }

 }

 .map-box {
    margin-top: 20px;
    h3 {
        font-weight: 700;
        font-size: 100%;
        text-align: center;
    }
     width: 300px;
     #map {
        width: 100%;
        height: 300px;
     }
     p {
        font-size: 80%;
         text-align: center;
     }
}
 
 .profile-page-container {
     display: flex;
     flex-wrap: wrap;
     justify-content: flex-start;
     align-items: flex-start;
     padding: 80px 0;
     width: 100vw;
     i {
         margin-right: 10px;
     }
     h5 {
         font-weight: 900;
     }
     .fa-quote-left, .fa-grip-lines, .about-prompt {
         opacity: 40%;
     }
     a {
         color: $secondary-color;
     }
 }
 
 .profile-content {
     width: 30vw;
     #color-icon {
         i {
            color: $secondary-color;            
         }
     }
 }
 
 .review-title {
     margin-bottom: 30px;
 }
 
 .review-item {
     .review-date {
         font-size: 12px;
         font-weight: 600;
     }
     span:first-child {
         font-weight: 600;
     }
     span:last-child {
         font-size: 12px;
     }
     a {
         text-decoration: none;
         color: black;
     }
     img {
         margin-right: 10px;
         width: 40px;
         height: 40px;
     }
     .reviewer-item {
         display: flex;
         flex-direction: row;
         align-items: center;
         img {
             border-radius: 100px;
         }
     }
 }
 
 #img_prev {
     border-radius: 100px;
     width: 200px;
     height: 200px;
 }


 
 .modal-content {
     font-family: $headings;
     .close {
         position: absolute;
         top: 10px;
         right: 10px;
     }
 }
 
 .details-container {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: flex-start;
     .favourites-list-container {
         margin: 50px 0 0 50px;
         #find-prompt {
             font-size: 0.7em;
             opacity: 80%;
             width: 150px;
         }
         a {
            color: black;
            text-decoration: none;
        }
         i {
             color: #c40808;
         }
         h5 {
             font-weight: 600;
             font-size: 1em;
         }
         .fav-item {
             margin: 5px 0;
             padding: 5px;
             border: 1px solid lightgrey;
             background-color: #f0f0f0;
             img {
                 width: 30px;
                 height: 30px;
                 border-radius: 100%;
                 margin-right: 5px;
             }
             font-size: 0.8em;
         }
     }
     .date-filter {
         #search-button {
             width: 80px;
             background-color: $secondary-color;
             color: white;
         }
         input {
             width: 200px;
         }
         margin-bottom: 30px;
     }
     .details, input, textarea {
         width: 500px;
     }
     min-width: 90vw;
     padding: 80px 0;

     span {
         color: $secondary-color;
     }
 
     input, textarea {
         border: none;
         background-color: #f0f0f0;
         color: black;
         padding: 10px;
     }
 
     h1 {
         font-weight: 700;
         text-align: left;
         font-size: 30px;
         margin-bottom: 60px;
     }
 
     h5 {
         font-weight: 700;
         font-size: 15px;
     }
 
     p {
         opacity: 80%;
     }
 
     .btn {
         background-color: $secondary-color;
         color: white;
         width: 200px;
     }
 
     .name-input {
         width: 230px;
         &:first-child {
             margin-right: 35px;
         }
     }
 
     .save-notice {
         color: green
     }
 
     .save-alert {
         color: red;
     }

     a {
         color: $secondary-color;
     }

     .profile-control-panel {
         a {
             padding: 10px;
             color: $secondary-color;
         }
         border: 1px solid lightgrey;
         min-width: 150px;
         height: 100px;
         display: flex;
         justify-content: center;
         flex-direction: column;
         align-items: center;
         margin-left: 100px;
         font-size: 0.8em;

     }

     table {
         a {
             color: $secondary-color;
         }
         h3 {
             font-weight: 600;
             font-size: 80%;
         }
         thead {
             margin-bottom: 20px;
         }
        td {
            width: 150px;
        }
        tbody {
            td {
                &:last-child {
                    font-size: 80%;
                    width: 70px;
                }
            }
        }
    }


 
 }

 .dish-list {
     width: 45vw;
     display: flex;
     flex-direction: row;
     padding: 10px 0;
     overflow-y: scroll;
     height: 500px;

     .modal-content {
         img {
            height: 400px;
         }
     }
     a {
        color: black;
        &:hover {
            text-decoration: none;
        }
    }
    .modal-body {
        p {
            max-height: 150px;
            overflow: scroll;
        }
    }
    .modal-footer {
        a {
            color: $secondary-color;
        }
    }
 }

 #dish-card {
    min-width: 300px;
    max-width: 300px;
    height: 450px;
    margin: 0 10px;

    .btn {
        color: white;
    }
    .card-img-top {
        height: 50%;
    }

    #dish-description {
        height: 40%;
        overflow: scroll;
        font-size: 80%;
    }

    .card-title {
        max-width: 70%;
    }

}
#order-submission {
    #quantity {
        width: 80px;
        text-align: center;
    }
    font-size: 1.3em;
    #order-button  {
        border: none;
        color: $secondary-color;
        &:hover {
            text-decoration: underline;
        }
    }
    
}

.small-chef-tag {
    background-color: white;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
    top: 10px;
    left: 10px;

    width: 130px;
    height: 30px;
    font-size: 70%;
    font-weight: 600;
    box-shadow: 1px 1px 3px grey;
    img {
        margin-left: 5px;
        max-height: 20px;
        max-width: 20px;
        border-radius: 100%;
    }
}

#chef-label {
    a {
        color: black;
    }
}

.card-body {
    #price {
        font-weight: 600;
        font-size: 150%;
        position: absolute;
        top: 53%;
        right: 15px;
    }
}

 .dish-details-input {
    height: 80vh;
    margin-right: 100px;
 }
 
 #dish-form {
     display: flex;
     flex-direction: row;
     img {
        width: 500px;
        height: 500px;
        border-radius: 0px;
     }

     #img-prev {
         max-width: 500px;
         max-height: 500px;
         border-radius: 0px;
     }

     textarea {
         height: 150px;
     }
     #info-warning {
         width: 500px;
         font-size: 90%;
         span {
             font-weight: 600;
         }

         i {
             color: red;
         }

     }
}
    
.dish-create-container {
    padding: 80px 0;

 }

 .order-summary-container {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     padding-top: 80px;
     #review-prompt {
         border: 1px solid lightgrey;
         padding: 20px;
         font-size: 1.2em;
     }

     h2 {
         font-weight: 700;
     }
     .order-sec-1 {
         display: flex;
         flex-direction: row;
     }
     img {
         width: 70px;
         height: 70px;
         border-radius: 100%;
         margin-left: 10px;
     }
     .order-details {
         margin-top: 30px;
         justify-content: flex-start;
         #order-details-img {
            width: 170px;
            height: 170px;
            border-radius: 13px;
            margin-left: 20px;
         }
     }

     span, a {
         color: $secondary-color;
         font-weight: 600;
     }

     td {
         &:nth-child(even) {
             padding-left: 10px;
         }
     }

     #map {
         width: 800px;
         height: 500px;
         margin-left: 10px;
     }

     .summary-directions {
         div {
             width: 300px;
         }
         
         display: flex;
         flex-direction: row;
         padding-bottom: 200px;
         #helper {
             font-size: 70%;
         }
        a {
            color: black;
            text-decoration: none;
        }

     }

 }

 .dashboard-container {
     padding: 80px 0;
     display: flex;
     flex-direction: row;
     align-items: flex-start;
     justify-content: center;
     min-width: 90vw;
     .date-filter {
         a {
             color: $secondary-color;
             text-decoration: none;
         }
        #search-button {
            width: 80px;
            background-color: $secondary-color;
            color: white;
        }
        input {
            background-color: #f0f0f0;
            padding: 5px;
            border: none;
            background-color: #f0f0f0;
            color: black; 
            width: 200px;
        }
        margin-bottom: 30px;
     }
     
     #breadcrum {
         color: black;
         text-decoration: none;
     }
     h1 {
        font-weight: 700;
        text-align: left;
        font-size: 30px;
        margin-bottom: 30px;
    }

    h3 {
        font-weight: 600;
        font-size: 15px;
    }

    span {
        color: $secondary-color;
    }

    .profile-control-panel {
        a {
            padding: 10px;
            color: $secondary-color;
        }
        margin-right: 50px;
        border: 1px solid lightgrey;
        width: 150px;
        height: 170px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        font-size: 90%;
    }

    #small-dish-image {
        width: 50px;
        height: 50px;
    }

    td {
        width: 200px;
        &:first-child {
            width: 60px;
        }
    }

    #image-td {
        text-align: center;
        max-width: 60px;
    }

    #name-td {

        a {
            color: $secondary-color;
            &:hover {
                color: $secondary-color;
                text-decoration: underline;
            }
        }
    }

    .btn {
        font-size: 12px;
        width: 60px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-weight: 600;

        &:hover {
            color: white;
        }
    }


    thead {
        font-weight: 600;
        font-size: 90%;
        td {
            padding-bottom: 10px;
        }
    }
    i {
        margin: 0 5px;
        color: $secondary-color;
    }
 }

 .manager-details-display {
     margin-bottom: 30px;
     i {
         color: $secondary-color;
     }
     display: flex;
     flex-direction: row;
 }

 .availability-manager, .address-manager {
     td {
         &:nth-child(odd) {
             width: 150px;
         }
     }

     a {
         color: $secondary-color;
         &:hover {
             color: $secondary-color;
         }
     }
     margin-right: 100px;

     input {
        padding: 5px;
        border: none;
        background-color: #f0f0f0;
        color: black;

    }
    #save-button {
        background-color: $secondary-color;
        color: white;
    }

     #data-input {
         width: 250px;
     }

     #schedule-prompt {
         opacity: 80%;
         font-size: 90%;
     }
}

.signup-form {
    padding: 80px 0;
}
     
     
.manager-dish-display {
    #create-button {
        width: 200px;
        height: 50px;
        i {
            color: white;
        }
        font-size: 1em;
        margin-left: 100px;
    }
}

.dish-dashboard-title {
    display: flex;
    flex-direction: row;
}

#submit-dish {
    background-color: $secondary-color;
    color: white;
    &:hover {
        background-color: green;
    }
}

.become-chef-container {
    width: 90vw;
    padding: 80px 0;
    display: flex;
    flex-direction: row;
    h1 {
        font-weight: 700;
        font-size: 40px;
    }
    span {
        color: $secondary-color;
    }

    #hint {
        color: black;
        opacity: 70%;
        font-size: 80%;
    }

    input {
        padding: 5px;
        border: none;
        background-color: #f0f0f0;
        color: black;
        margin: 5px 0;
    }
    .new-address-form {
        width: 380px;
    }
    #long-input {
        width: 100%;
    }
    .state-postcode-input {
        display: flex;
        justify-content: space-between;
        input {
            width: 180px;
        }

    }
    .new-schedule-form {
        width: 380px;
        label {
            width: 100px
        }
        input {
            margin-left: 20px;
            width: 260px;
        }
    }

    .submit-section {
        h4 {
            font-size: 20px;
            font-weight: 700;
        }
        width: 500px;
        margin-left: 100px;

        img {
            width: 400px;
            height: 400px;
        }

        .btn-success {
            width: 200px;
            height: 70px;
            font-size: 20px;
            background-color: $secondary-color;
            color: white;
            
        }
        i {
            font-size: 30px;
        }
    }

}

.order-history-display {
    #order-name {
        width: 300px;
    }
    #order-date {
        width: 120px;
    }
}

#dish-hint {
    font-size: 80%;
    opacity: 80%;
}

.order-card {
    margin: 5px 0;
    border: 1px solid lightgrey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 350px;
    .quantity-circle {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        border: 1px solid lightgrey;
        display: flex;
        justify-content: center;
        align-items: center;

        font-weight: 700;
        font-size: 1.5em;
    
    }
    .quantity-details {
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .order-card-details {
        width: 200px;
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        h5 {
            padding: 10px 0 0 10px;
            font-weight: 600;
            font-size: 1em;
        }
        p {
            padding-left: 10px;
            font-size: 0.9em;
        }
        span {
            font-weight: 700;
            font-size: 0.8em;
        }
    }
    i {
        font-size: 2.5em;
    }
    .progress-button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #e7bf3b;
        i {
            color: white;
        }
    }
    .order-ready {
        background-color: $secondary-color;
    }
}

.order-tracking-container {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    .order-column {
        width: 380px;
    }
}

.order-figures {
    margin-left: 3em;
    h3{
        font-size: 1.5em;
    }
    a {
        color: $secondary-color;
    }
    #show-history {
        font-size: 0.8em;
    }
    #daily-sales {
        font-size: 4em;
        font-weight: 600;
    }
    h4 {
        font-size: 1em;
    }
    .small-history-list-item {
        background-color: #f0f0f0;
        padding: 5px;
        font-size: 0.6em;
        font-weight: 600;
        display: flex;
        justify-content: flex-start;
        margin-bottom: 5px;
        width: 300px;
        span {
            &:first-child {
                width: 10px;
            }
            &:nth-child(2){
                width: 70px
            }
            margin: 0 10px;
            color: black;
        }
    }
    #earnings-hint {
        font-size: 0.8em;
    }
}

#order-column-hint {
    font-size: 0.9em;
    opacity: 80%;
}

.full-order-history-table {
    display: flex;
    flex-direction: row;
    // width: 60vw;
    table {
        thead, tbody tr {
            display: table;
            table-layout: fixed;
            width: 100%;
        }
        tr {
            &:first-child {
                background-color: white;
                font-weight: 600;
                font-size: 0.8em;
            }
            background-color: #f0f0f0;
        }
        td {
            padding: 10px;
            width: 250px;
            &:nth-child(2) {
                width: 80px;
            }
            &:nth-child(3) {
                width: 200px;
            }
            &:nth-child(5) {
                width: 80px;
            }
            &:nth-child(6) {
                width: 100px;
                background-color: $secondary-color;
                color: white;
                font-weight: 600;
            }
            &:nth-child(7) {
                background: white;
                width: 20px;
            }
            &:nth-child(8), &:nth-child(9) {
                width: 100px;
            }
            &:nth-child(10) {
                width: 130px;
            }
        }

    }

    tbody {
        display: block;
        height: 70vh;
        overflow: auto;
    }

}

#row-gap {
    background-color: white;
    height: 5px;
}
#order-tracking-back {
    color: $secondary-color;
}

#helpModal {
    .modal-body {
        img {
            width: 450px;
            height: 250px;
        }
    }
}

.earnings-info-bar {
    width: 60vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px solid lightgrey;
    div {
        width: 20vw;
        padding: 20px 20px 10px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        &:nth-child(2) {
            border-left: 1px solid lightgrey;
            border-right: 1px solid lightgrey;
        }
        span {
            font-size: 2em;
        }
    }
}

.payment-options {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 70px;
    p {
        padding-top: 12px;
        font-weight: 700;
        margin-right: 10px;
    }
    .btn {
        width: 130px;
        height: 40px;
        font-size: 0.8em;
    }
    #paypal {
        margin-left: 10px;
        background-color: #008cff;
        border-color: #008cff ;
        &:hover {
            background-color: #0b62aa;
            border-color: #0b62aa ;
        }
    }
}

.withdrawal-history {
    width: 60vw;
    .notice {
        color: green;
        font-size: 0.8em;
    }
    .alert {
        color: red;
        font-size: 0.8em;
    }
    p {
        font-weight: 700;
    }
    table {
        tr {
            
            &:first-child {
                background-color: white;
                font-weight: 600;
                font-size: 0.8em;
                margin-bottom: 10px;
            }
        
            background-color: #f0f0f0;
        }
        td {
            text-align: center;
            min-width: 200px;
            padding: 5px;
            &:first-child {
                min-width: 150px;
            }
            &:nth-child(2){
                min-width: 10px;
                max-width: 10px;
                background-color: white;
            }
        }
    }
    .modal-body {
        p {
            font-weight: 500;
        }
        span {
            color: $secondary-color;
            font-weight: 700;
        }
        i {
            font-size: 1.5em;
        }

        #amount-withdraw {
            width: 150px;
        }
        input {
            width: 300px;
            padding: 5px;
            border: none;
            background-color: #f0f0f0;
            color: black;
            margin: 5px 0;
            font-size: 0.9em;
        }
        #withdraw-confirm {
            background-color: $secondary-color;
            color: white;
            &:hover {
                background-color: green;
            }
            width: 100px;
        }
        #desc-hint {
            font-size: 0.8em;
            opacity: 80%;
        }
        
    }
}

.edit-dish-container {
    width: 60vw;
   
    .image-save-section {
        display: flex;
        flex-direction: column;
        margin-left: 50px;
        #img_prev {
            width: 500px;
            height: 500px;
            border-radius: 0px;
        }
        align-items: flex-start;
    }
    .edit-dish-form {
        display: flex;
        flex-direction: row;
        input, textarea {
            width: 300px;
            padding: 5px;
            border: none;
            background-color: #f0f0f0;
            color: black;
            margin: 5px 0;
            font-size: 0.9em;
        }
        textarea {
            height: 200px;
        }
        label {
            font-size: 0.9em;
            opacity: 80%;
            font-weight: 600;
        }
    }
    #dish-save {
        background-color: $secondary-color;
        color: white;
        &:hover {
            background-color: green;
        }
        height: 40px;
    }
}
#manager-back-link {
    color: $secondary-color;
}

.dish-index-display {
    width: 100vw;
    justify-content: center;
    align-self: center;
    .dish-search-banner {
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 90vw;
        margin: 0 5vw;
        border-left: 1px solid lightgrey;
        border-right: 1px solid lightgrey;
        border-bottom: 1px solid lightgrey;
        box-shadow: 0 0 2px lightgrey;
        .search-bar {
            display: flex;
            flex-direction: row;
            input {
                width: 400px;
                padding: 10px;
                border: none;
                background-color: #f0f0f0;
                color: black;
            }
            #search-button {
                width: 80px;
                background-color: $secondary-color;
                color: white;
                font-weight: 600;
            }
            p {
                margin-right: 10px;
                font-weight: 600;
                font-size: 1.2em;
            }
            #location-search {
                width: 150px;
            }
        }
    }
    .toggle-sort-options {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-top: 20px;
        margin-left: 5vw;
        p {
            margin: 5px;
        }
        .btn {
            margin: 0 10px;
        }
    }
    .dish-results {
        display: flex;
        flex-wrap: wrap;
        width: 90vw;
        margin: 20px 5vw;
        h5 {
            font-weight: 600;
            font-size: 0.95em;
        }
        a {
            color: black;
            text-decoration: none;
        }
        #dish-card {
            margin: 10px;
            i {
                color: $gold;
                margin-left: 10px;
            }
            border-radius: 0px;
        }
        .modal-content {
            #modal-image-dish {
                max-height: 400px;
                min-height: 400px;
             }
        }
        .modal-body {
            p {
                max-height: 150px;
                overflow: scroll;
                img {
                    width: 22px;
                    height: 22px;
                }
            }
        }
        .chef-card {
            margin: 10px 20px;
            display: flex;
            flex-direction: row;
            align-items: center;
            border-radius: 13px;
            img {
                // border: 1px solid lightgrey;
                box-shadow: 0 0 3px grey;
                width: 200px;
                height: 200px;
                border-radius: 100%;                
            }
            #chef-name {
                font-size: 1.2em; 
                font-weight: 600;
                margin-top: 10px;
            }
            .chef-details {
                width: 170px;
            }
            span {
                font-weight: 600;
                font-size: 1em;
                color: $secondary-color;
            }
            i {
                color: $gold;
            }
            #specialties {
                i {
                    color: grey;
                }
                font-size: 0.8em;
            }
            p {
                text-align: center;
                img {
                    width: 21px;
                    height: 21px;
                    margin-bottom: 2px;
                }
            }
        }
        .single-dish-display {
            margin: 10px;
            img {
                width: 300px;
                height: 200px;
                border-radius: 13px;
            }
            .small-details-row {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-top: 2px;
                h2 {
                    img {
                        width: 15px;
                        height: 15px;
                        border-radius: 100%;
                    }
                    font-size: 0.8em;
                    font-weight: 600;
                }
                p {
                    font-weight: 600;
                    color: grey;
                    justify-content: flex-end;
                    i {
                        color: grey;
                    }
                    font-size: 0.8em;
                }
            }
        }
        .modal-body {
            h5 {
                font-size: 1.5em;
            }
        }
        .modal-footer {
            #order-button {
                color: $secondary-color;
            }
        }
    }
    .chef-details {
       
        p {
            margin: 0;
        }
        #chef-since {
            font-size: 0.7em;
            opacity: 80%;
        }
        #specialties {
            font-size: 0.9em;
        }
    }
}

.dashboard-options-container {
    width: 80vw;
    // height: 60vh;
    margin: 80px 10vw;
    display: flex;
    flex-wrap: wrap;
    span {
        color: $secondary-color;
    }
    a {
        color: black;
        text-decoration: none;
    }
    h2 {
        font-weight: 700;
        align-self: flex-start;
    }
    .option-card {
        margin: 20px;
        border-radius: 20px;

        i {
            font-size: 3em;
            color: $secondary-color
        }
        h3 {
            font-weight: 600;
            font-size: 1.5em;
            margin: 10px 0 ;
        }
        width: 300px;
        height: 200px;
        box-shadow: 0 0 5px lightgrey;
        .option-card-content {
            padding: 30px 0 0 30px;
        }
        p {
            font-size: 0.85em;
            max-width: 80%;
        }
    }
    .option-section {
        display: flex;
        flex-wrap: wrap;
    }
}


.order-confirm-container {
    width: 60vw;
    margin: 80px 20vw;
    img {
        width: 200px;
        height: 200px;
    }
}
.StripeElement {
    height: 40px;
    padding: 10px 12px;
    width: 100%;
    color: #32325d;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 4px;
  
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }
  
  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }
  
  .StripeElement--invalid {
    border-color: #fa755a;
  }
  
  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }

  #review-modal {
      input {
        width: 100px;
        padding: 5px;
        border: none;
        background-color: #f0f0f0;
        color: black;
      }
      textarea {
        width: 80%;
        height: 200px;
        padding: 5px;
        border: none;
        background-color: #f0f0f0;
        color: black;
        margin: 20px 0;
      }
  }

  #messages {
    
    #notif-message {
        max-height: 50vh;
        overflow: scroll;
    }
      &:hover {
          color: $secondary-color;
      }
      #notif-circle {
          font-weight: 600;
          background-color: red;
          border-color: red;
          color: white;
          border-radius: 100%;
          font-size: 0.7em;
          width: 18px;
          height: 18px;
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          top: 3px;
          right: 3px;
      }
    a {
        &:first-child {
            padding-right: 20px;
        }
        color: black;
        text-decoration: none;
    }
    #zero-notif {
        padding: 10px;
        font-size: 0.8em;
    }
    .notif-single {
        h6 {
            font-weight: 600;
        }
        width: 280px;
        padding: 10px 10px 0 10px;;
        p {
            font-size: 0.7em;
        }
        border-top: 1px solid lightgrey;
        &:first-child {
            margin-top: 8px;
        }

    }
    #clear-notifs {
        color: $secondary-color;
        margin-left: 10px;
    }
  }
  .payment-succeess-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 60vh;
  }
  .admin-bar {
      width: 100vw;
      height: 60px;
      text-align: center;
      background-color: #474646;
      color: white;
      font-weight: 600;
      p {
          font-size: 1.3em;
          padding-top: 12px;
      }
  }

  .admin-theme {
       background-color: #474646;
       color: white;
      .nav-link {
          color: white;
      }
      background-color: #474646;
      color: white;
      span {
          color: white;
      }
      .splash-suggestions, .index-footer {

          a {
              color: white;
          }
      }
      .chef-card {
          p {
              color: white;
          }
      }
      #index-links {
          color: white;
      }
      .index-info-graph {
            background-color: #474646;
            color: white;
            border-top: 1px solid white;
            border-bottom: 1px solid white;
      }
      
  }
  .admin-manage-container {
      width: 100vw;
      a {
          color: white;
          &:hover {
              color: rgb(177, 177, 177);
          }
      }
      h1 {
          text-align: center;
          font-weight: 600;
          margin-bottom: 30px;
      }
      p {
          margin-left: 5%;
          font-weight: 600;
          font-size: 1.3em;
      }
    .user-management-section {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100vw;
        font-size: 0.8em;
        hr {
            color: white;
        }
        &:last-child {
            padding-bottom: 100px;
        }
        .review-list-manager {
            max-width: 70vw;
        }
    }
      #user-details-table {
          display: table;
            thead, tbody tr {
                display: table;
                table-layout: fixed;
                width: 90%;
                margin: 0 5%;
            }
            thead {
                font-weight: 600;
            }
            tbody {
                display: block;
                max-height: 300px;
                overflow: auto;
            }
            #name-col-admin {
                width: 100px;
            }
            #joined-on-col {
                width: 100px;
            }
            #review-message {
                width: 200px;
            }
            #rating-col {
                width: 40px;
            }
          td {
              padding: 0 5px;
              &:first-child {
                  width: 30px;
              }
              &:nth-child(4) {
                  width: 50px;
              }
              &:last-child {
                  width: 50px;
              }
              width: 170px;
          }
      }
      .admin-statistics {
          display: flex;
          width: 100vw;
          flex-wrap: wrap;
          justify-content: center;
          padding: 50px;
          p {
              border: 1px solid white;
              padding: 20px;
              text-align: center;
              font-size: 0.7em;
              span {
                  font-size: 3em;
              }
          }
      }
  }